<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav>
  <ul>
    <!-- Index - svi korisnici-->
    <li sec:authorize="isAnonymous()">
      <a th:href="@{/}">Index</a>
    </li>
    <!-- Home - samo ulogovani korisnici -->
    <li><a th:href="@{/home}">Home</a></li>

    <!-- Knjige - samo ulogovani korisnici -->
    <li sec:authorize="isAuthenticated()">
      <a th:href="@{/books}">Knjige</a>
    </li>

    <!-- Moje pozajmice - samo ulogovani korisnici -->
    <li sec:authorize="isAuthenticated()">
      <a th:href="@{/loans/active}">Moje pozajmice</a>
    </li>

    <!-- Korisnici - samo admin -->
    <li sec:authorize="hasRole('ADMIN')">
      <a th:href="@{/users}">Korisnici</a>
    </li>

    <!-- Sve pozajmice - samo admin -->
    <li sec:authorize="hasRole('ADMIN')">
      <a th:href="@{/loans/all}">Sve pozajmice</a>
    </li>

    <!-- Login i Register - anonimni korisnici -->
    <li sec:authorize="isAnonymous()">
      <a th:href="@{/users/login}">Login</a>
    </li>
    <li sec:authorize="isAnonymous()">
      <a th:href="@{/users/register}">Register</a>
    </li>

    <!-- Logout - ulogovani korisnici -->
    <li sec:authorize="isAuthenticated()">
      <form th:action="@{/logout}" method="post" style="display:inline">
        <button type="submit">Logout</button>
      </form>
    </li>
  </ul>
</nav>
</body>
</html>
