<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{users.title}">Svi korisnici</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<h1 th:text="#{users.title}">Svi korisnici</h1>

<div class="table-wrapper">
  <table>
    <thead>
    <tr>
      <th th:text="#{users.id}">ID</th>
      <th th:text="#{users.username}">Korisničko ime</th>
      <th th:text="#{users.email}">Email</th>
      <th th:text="#{users.role}">Uloga</th>
      <th th:text="#{users.active}">Da li je aktivan korisnik</th>
      <th th:text="#{users.actions}">Akcije</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}">ID</td>
      <td th:text="${user.username}">Korisničko ime</td>
      <td th:text="${user.email}">Email</td>
      <td th:text="${user.role}">Uloga</td>
      <td th:text="${user.active}">Da li je aktivan korisnik</td>
      <td>
        <!-- Dugme Obriši samo ako korisnik nema aktivne pozajmice i nije admin samog sebe -->
        <form th:if="${!user.hasActiveLoans and !user.hadLoans and user.username != #authentication.name}"
              th:action="@{'/users/delete/' + ${user.id}}"
              method="post"
              style="display:inline-block;">
          <button type="submit" th:text="#{users.deleteBtn}">Obriši</button>
        </form>

        <span th:if="${user.hasActiveLoans}"
              th:text="#{users.cannotDeleteLoan}">
</span>

        <span th:if="${!user.hasActiveLoans and user.hadLoans}"
              th:text="#{users.hadLoans}">
</span>

        <span th:if="${user.username == #authentication.name}"
              th:text="#{users.cannotDeleteSelf}">
</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>