<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Svi korisnici</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<h1>Svi korisnici</h1>

<!-- Dugme za dodavanje korisnika uklonjeno -->
<div class="table-wrapper">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Korisničko ime</th>
      <th>Email</th>
      <th>Uloga</th>
      <th>Da li je aktivan korisnik</th>
      <th>Akcije</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}">ID</td>
      <td th:text="${user.username}">Korisničko ime</td>
      <td th:text="${user.email}">Email</td>
      <td th:text="${user.role}">Uloga</td>
      <td th:text="${user.active}">Da li je aktivan korisnik</td>
      <td>
        <!-- Dugme Obriši samo ako korisnik nema aktivne pozajmice i nije admin samog sebe -->
        <form th:if="${!user.hasActiveLoans and user.username != #authentication.name}"
              th:action="@{'/users/delete/' + ${user.id}}"
              method="post" style="display:inline-block;">
          <button type="submit">Obriši</button>
        </form>

        <!-- Poruka ako ne može da se obriše -->
        <span th:if="${user.hasActiveLoans}" style="color: gray; font-style: italic;">
                    Ne može se obrisati - ima aktivne pozajmice
                </span>

        <!-- Poruka ako admin pokušava da obriše samog sebe -->
        <span th:if="${user.username == #authentication.name}" style="color: gray; font-style: italic;">
                    Ne možete obrisati sebe
                </span>
      </td>
    </tr>
    </tbody>
  </table>

</div>
</body>
</html>
