<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Svi korisnici</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<h1>Svi korisnici</h1>

<!-- Dugme za dodavanje korisnika uklonjeno -->

<table>
<thead>
<tr>
  <th>ID</th>
  <th>Username</th>
  <th>Email</th>
  <th>Običan korisnik / Admin</th>
  <th>Aktivan</th>
  <th>Akcije</th>
  <th>Blokiran</th>
</tr>
</thead>
<tbody>
<tr th:each="user : ${users}">
  <td th:text="${user.id}">ID</td>
  <td th:text="${user.username}">Username</td>
  <td th:text="${user.email}">Email</td>
  <td th:text="${user.roles.iterator().next().name}">Običan korisnik / Admin</td>
  <td th:text="${user.active}">Aktivan</td>
  <td th:text="${user.blocked} ? 'Da' : 'Ne'">Blocked</td>
  <td>
    <!-- Dugme Obriši samo ako je prijavljeni korisnik ADMIN i nije samog sebe -->
    <form th:if="${#authorization.expression('hasRole(''ADMIN'')') and user.username != #authentication.name}"
          th:action="@{'/users/delete/' + ${user.id}}" method="post" style="display:inline-block;">
      <button type="submit">Obriši</button>
    </form>
  </td>
</tr>
</tbody>
</table>
</body>
</html>
