<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{book.create.title}">Create book</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/nav :: nav"></div>
<div th:if="${errorMessage}" class="error-box">
  <p th:text="${errorMessage}"></p>
</div>

<div class="form-wrapper">
  <h1 th:text="#{book.create.heading}">Add new book</h1>

  <form th:action="@{/books/create}" th:object="${book}" method="post">

    <div>
      <label for="title" th:text="#{book.field.title}">Title:</label>
      <input type="text" id="title" th:field="*{title}" class="form-control"
             th:errorclass="is-invalid"/>
      <div class="invalid-feedback"
           th:if="${#fields.hasErrors('title')}"
           th:errors="*{title}">
      </div>
    </div>

    <div>
      <label for="author" th:text="#{book.field.author}">Author:</label>
      <input type="text" id="author" th:field="*{newAuthorName}" class="form-control"
             th:errorclass="is-invalid"/>
      <div class="invalid-feedback"
           th:if="${#fields.hasErrors('newAuthorName')}"
           th:errors="*{newAuthorName}">
      </div>
    </div>

    <div>
      <label th:text="#{book.field.description}">Description:</label>
      <textarea th:field="*{description}" rows="4"></textarea>
    </div>

    <select th:field="*{category}" required>
      <option value="" disabled selected>-- Izaberite kategoriju --</option>

      <option th:each="c : ${categories}"
              th:value="${c}"
              th:text="#{'category.' + ${c}}">
      </option>
    </select>
    <div class="invalid-feedback"
         th:if="${#fields.hasErrors('category')}"
         th:errors="*{category}">
    </div>

    <div>
      <label for="year" th:text="#{book.field.year}">Publish year:</label>
      <input type="number"
             id="year"
             th:field="*{year}"
             min="1000"
             max="2100"
             class="form-control"
             th:errorclass="is-invalid"/>
      <div class="invalid-feedback"
           th:if="${#fields.hasErrors('year')}"
           th:errors="*{year}">
      </div>
    </div>

    <button type="submit"
            class="primary-btn"
            th:text="#{book.create.submit}">
      Create book
    </button>
  </form>

  <a th:href="@{/books}"
     style="display:block; margin-top:20px; text-align:center;"
     th:text="#{book.create.back}">
    Back to books
  </a>
</div>

</body>
</html>