<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{login.title}">Login</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Nav već koristi i18n -->
<div th:replace="fragments/nav :: nav"></div>

<h1 th:text="#{login.heading}">Login</h1>
<p th:if="${param.usernameChanged}" style="color: green;">
    <span th:text="#{login.username.changed}">
        Izmenili ste korisničko ime. Molimo Vas da se ponovo ulogujete.
    </span>
</p>
<div class="auth-container">
  <form th:action="@{/users/login}" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />

    <div>
      <label th:text="#{login.username}">Username:</label>
      <input type="text" name="username" required
             th:placeholder="#{login.username.placeholder}" placeholder="Korisničko ime"/>

    </div>

    <div>
      <label th:text="#{login.password}">Password:</label>
      <input type="password" name="password" required
             th:placeholder="#{login.password.placeholder}" placeholder="Lozinka"/>
      <p th:if="${param.error}" class="text-danger" th:text="#{login.password.error}">
        Pogrešno korisničko ime ili lozinka
      </p>
    </div>

    <div>
      <button type="submit" th:text="#{login.submit}">Prijavi se</button>
    </div>

  </form>
</div>

<div class="login-footer">

  <p class="no-account">
    <span th:text="#{login.noAccount}">Nemate nalog?</span>
    <a th:href="@{/users/register}"
       th:text="#{login.registerLink}">
      Registrujte se ovde
    </a>
  </p>

  <div class="language-selector">
    <a th:href="@{?lang=sr}">🇷🇸 SR</a> |
    <a th:href="@{?lang=en}">🇬🇧 EN</a>
  </div>
</div>

</body>
</html>
