<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registracija</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<h1>Registracija</h1>
<div class="auth-container">
  <form th:action="@{/users/register}" th:object="${userRegisterDto}" th:method="post">
    <!-- KORISNIČKO IME -->
    <div>
      <label for="username">Korisničko ime:</label>
      <input type="text"
             id="username"
             th:field="*{username}"
             placeholder="Unesite korisničko ime"
             th:class="form-control"
             th:errorclass="'is-invalid'">
      <div class="invalid-feedback"
           th:if="${#fields.hasErrors('username')}"
           th:errors="*{username}">Greška
      </div>
    </div> <!-- EMAIL -->
    <div>
      <label for="email">Email:</label>
    <input type="email"
           id="email"
           th:field="*{email}"
           placeholder="Unesite email"
           th:class="form-control"
           th:errorclass="is-invalid">
    <div class="invalid-feedback"
         th:if="${#fields.hasErrors('email')}"
         th:errors="*{email}">Greška
    </div>
  </div> <!-- PASSWORD -->
    <div>
      <label for="password">Lozinka:</label>
    <input type="password"
           id="password"
           th:field="*{password}"
           placeholder="Unesite lozinku"
           th:class="form-control"
           th:errorclass="'is-invalid'">
      <div class="invalid-feedback"
           th:if="${#fields.hasErrors('password')}"
           th:errors="*{password}">Greška
      </div>
  </div> <!-- PASSWORD -->
    <div>
      <label for="password">Potvrdite lozinku:</label>
    <input type="password"
           id="confirmPassword"
           th:field="*{confirmPassword}"
           placeholder="Potvrdite lozinku"
           th:class="form-control"
           th:errorclass="'is-invalid'">
      <div class="invalid-feedback"
           th:if="${#fields.hasErrors('confirmPassword')}"
           th:errors="*{confirmPassword}">Greška
      </div>
  </div> <!-- ROLE -->
    <button type="submit">Registruj se</button>
  </form>
</div>
<p>Već imate nalog?
  <a th:href="@{/users/login}">Prijavite se ovde</a>
</p>
</body>
</html>