<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registracija</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<h1>Registracija</h1>
<div class="auth-container">
  <form th:action="@{/users/register}" th:object="${userRegisterDto}" method="post">
    <!-- KORISNIČKO IME -->
    <div> <label for="username">Korisničko ime:</label>
      <input type="text" id="username" th:field="*{username}" placeholder="Unesite username">
      <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Greška</p>
    </div> <!-- EMAIL --> <div> <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Unesite email">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Greška</p>
  </div> <!-- PASSWORD --> <div> <label for="password">Lozinka:</label>
    <input type="password" id="password" th:field="*{password}" placeholder="Unesite lozinku">
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Greška</p>
  </div> <!-- ROLE -->
    <button type="submit">Registruj se</button>
  </form>
</div>
<p>Već imate nalog?
  <a th:href="@{/users/login}">Prijavite se ovde</a>
</p>
</body>
</html>